body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #1a1a1a;
    color: white;
}

.container {
    background: #5e2b97;
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

label {
    display: block;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #2d2d2d;
}

.resultado {
    margin-top: 20px;
    background: white;
    color: black;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer a {
    color: #b388ff;
    text-decoration: none;
}
